<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for WWCP" Description="Code analysis rules for WWCP" ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0083" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0067" Action="Warning" />
    <Rule Id="IDE0068" Action="Warning" />
    <Rule Id="IDE0069" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Pihrtsoft.CodeAnalysis.CSharp" RuleNamespace="Pihrtsoft.CodeAnalysis.CSharp">
    <Rule Id="RCS1003" Action="None" />
    <Rule Id="RCS1023" Action="None" />
    <Rule Id="RCS1024" Action="None" />
    <Rule Id="RCS1029" Action="None" />
    <Rule Id="RCS1036" Action="None" />
    <Rule Id="RCS1046" Action="None" />
    <Rule Id="RCS1060" Action="None" />
  </Rules>
</RuleSet>